{{signup}}
  <footer>
    <div class="wrap">
      <p>Updraft Pottery Studio · Tacoma, WA{{contactLine}}</p>
      <ul class="footer-links">
        <li><a href="/shop.html">Shop</a></li>
        <li><a href="/care.html">Care &amp; use</a></li>
        {{policiesItem}}
        <li><a href="https://www.instagram.com/aaronmakespottery/">Instagram</a></li>
        <li><a href="https://www.facebook.com/AaronFilsonCeramics/">Facebook</a></li>
      </ul>
      <p class="small">&copy; {{year}} Aaron Filson. All rights reserved.</p>
    </div>
  </footer>
